spacy==3.7.4
scispacy==0.5.4
transformers==4.41.2
torch>=2.0.0
pydantic==2.7.1
python-dotenv==1.0.1
streamlit
torch
transformers
sentencepiece
openai
"https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/en_core_sci_md-0.5.1.tar.gz"
"https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/en_ner_bc5cdr_md-0.5.0.tar.gz"
